numpy
pandas
mne
scikit-learn
scipy
h5py
matplotlib
seaborn
tensorflow
tensorflow-addons
tf-madgrad
torch
torchvision
torchmetrics
torchsummary
libauc
pytest
pynvml
requests
tqdm
pkbar
antialiased-cnns
pyyaml
thop
git+https://github.com/lessw2020/Ranger21.git
git+https://github.com/artemmavrin/focal-loss.git
git+https://github.com/okbalefthanded/BCI-Baseline.git
git+https://github.com/okbalefthanded/pyLpov.git@py3
