numpy
pandas
mne
scikit-learn
scipy
h5py
matplotlib
seaborn
tensorflow
tensorflow-addons
tf-madgrad
torch
torchvision
torchmetrics
torchinfo
holocron
libauc
pytest
pynvml
requests
tqdm
pkbar
pyyaml
thop
pingouin
lion-pytorch
prodigyopt
pywt
ptwt
git+https://github.com/okbalefthanded/antialiased-cnns.git
git+https://github.com/lessw2020/Ranger21.git
git+https://github.com/okbalefthanded/BCI-Baseline.git
git+https://github.com/okbalefthanded/pyLpov.git@py3
git+https://github.com/rwightman/pytorch-image-models
git+https://github.com/okbalefthanded/torchlayers
